<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cafe</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="bootstrap.min.css" rel="stylesheet">
    <link href="cafe.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        body, h1, h2, h3, h4, h5 {
            font-family: "Raleway", sans-serif
        }

    </style>
</head>
<body>
<div class="container-fluid bg_img">
    <!--    header-->
    <div class="row" style="height: 33%">
        <div class="col-1">
            <div class="row">
                <button type="button" class="btn  btn-lg my_btn" data-toggle="modal" data-target="#myModal"
                        style="width: 150px!important;">menu
                </button>

                <!-- Modal -->
                <div class="modal" id="myModal" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header" style="background-color: black">
                                <button type="button" class="close" data-dismiss="modal" style="background-color: gray">
                                    &times;
                                </button>

                            </div>
                            <div class="modal-body">
                                <div class="container-fluid" style="height: 700px;padding: 0">
                                    <div class="row black">
                                        <h1>
                                            Starters
                                        </h1>
                                    </div>
                                    <div class="row white" style="height: 20%">
                                        <p>Tomato Soup $2.50</p>
                                        <p>Chicken Salad $3.50</p>
                                        <p>Bread and Butter $1.00</p>
                                    </div>
                                    <div class="row black">
                                        <h1>
                                            Starters
                                        </h1>
                                    </div>
                                    <div class="row white" style="height: 25%">
                                        <p>Tomato Soup $2.50</p>
                                        <p>Chicken Salad $3.50</p>
                                        <p>Bread and Butter $1.00</p>
                                    </div>
                                    <div class="row black">
                                        <h1>
                                            Starters
                                        </h1>
                                    </div>
                                    <div class="row white" style="height: 35%">
                                        <p>Tomato Soup $2.50</p>
                                        <p>Chicken Salad $3.50</p>
                                        <p>Bread and Butter $1.00</p>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <button type="button" class="btn  btn-lg my_btn" data-toggle="modal" data-target="#cotact_Modal"
                        style="width: 200px">contact
                </button>

                <!-- Modal -->
                <div class="modal " id="cotact_Modal" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Modal Header</h4>
                            </div>
                            <div class="modal-body">
                                <p>Some text in the modal.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--    body-->
    <div class="row" style="height: 33%">

        <h1 style="text-align: center;font-size:65px;color: white"><br>logo</h1>
    </div>

    <!--    footer-->
    <div class="row" style="height: 34%">
        <h4 style="color: white;margin-top: 5rem;margin-bottom: 0">monday - friday 10-23 | saturday 14-02</h4>
        <h6 style="color: white;margin-top: 0">42 village St, New York2</h6>
        <p style="color: white">powered by<a href="https://www.w3schools.com/w3css/default.asp"> Amirmasoud Talebnia</a>
        </p>
    </div>


</div>

</body>
</html>